body {
  margin: 0;
  background-image: url(/src/imagen/Fondo.jpg);
  background-size: 100% 700px;
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
